.footer
    .clicks
        ul.textclicks
            li.text1
                a.text1(href='')  About Us
            li.text1
                a.text1(href='')  IOS App
            li.text1
                a.text1(href='')  Android app
        h3.copyright
            | abc@foodsolutions.com
        ul.iconclicks
            li.icon1
                a(href='')
                    i.fab.fa-instagram-square
            li.icon1
                a(href='')
                    i.fab.fa-facebook-square
            li.icon1
                a(href='')
                    i.fab.fa-reddit-alien
            li.icon1
                a(href='')
                    i.fab.fa-tumblr
            li.icon1
                a(href='')
                    i.fab.fa-pinterest
