a.hamburger
    i.fas.fa-bars
    ul.nav-ul
     li.nav-li
        a.nav-links(href='') Features
     li.nav-li
        a.nav-links(href='') Review
     li.nav-li
        a.nav-links(href='http://localhost:3000/login') Plans
     li.nav-li
        a.nav-links(href='http://localhost:3000/signUp') Sign Up